<div id="cont-empleados">
	<div class="registro-div form-group">
		<form id="editar-empleado-form" method="post">
			<h3 class="text-center">Registro Empleados</h3><br>
			<!-- Nombre -->
			<label for="nombre">Nombre:</label>
			<input type="text" class="form-control finput" name="nombre" placeholder="Daniel Murillo" required autofocus="">

			<!-- RFC -->
			<label for="rfc">RFC:</label>
			<input type="text" class="form-control finput" name="rfc" placeholder="DEME941231ZX7" required maxlength="13" pattern=".{13}">


			<!-- Puesto -->
			<label for="puesto">Puesto:</label>
			<input type="text" class="form-control finput" name="puesto" placeholder="Gerente" required>

			<label for="suc-sel">Sucursal</label>
		    	<select class="form-control finput" id="suc-sel" name="suc">
		      	</select>

			<div class="div-btn">
				<button type="submit" class="btn btn-md btn-primary btn-login" id="edit-emp">Editar Empleado</button>
			</div>
		</form>
	</div>
</div>