<div id="cont-sucursal">
		<div class="registro-div form-group">
			<form id="sucursal-form" method="post">
				<h3 class="text-center">Registro Sucursal</h3><br>
				<!-- Nombre -->
				<label for="nombre">Nombre de sucursal:</label>
				<input type="text" class="form-control finput" name="nombre" placeholder="Lazaro Cardenas" required autofocus="">

				<!-- Direccion -->
				<label for="direccion">Direccion:</label>
				<input type="text" class="form-control finput" name="direccion" placeholder="Lazaro Cardenas #787" required>

				<!-- Colonia -->
				<label for="colonia">Colonia:</label>
				<input type="text" class="form-control finput" name="colonia" placeholder="Independencia" required>

				<!-- Codigo Postal -->
				<label for="cp">Codigo Postal:</label>
				<input type="number" class="form-control finput" name="cp" placeholder="21290" max="99999" min="10000" required title="El codigo postal debe ser 5 digitos">

				<!-- Ciudad -->
				<label for="ciudad">Ciudad:</label>
				<input type="text" class="form-control finput" name="ciudad" placeholder="Mexicali" required>
				</label>

				<!-- Ciudad -->
				<label for="pais">Pais:</label>
				<input type="text" class="form-control finput" name="pais" placeholder="Mexico" required>
				</label>

				<div class="div-btn">
					<button type="submit" class="btn btn-md btn-primary btn-login">Registrar</button>
				</div>
			</form>
		</div>
	</div>