body{
	background-color: #111111;
}


#login-form, #register-form, #sucursal-form, #empleado-form, #editar-sucursal-form, #editar-empleado-form{
	background-color: #1E2824;
	padding-top: 10px;
	padding-bottom: 15px;

}

.login-div{
	width: 250px;
	margin: 0 auto;
}

.finput{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 0px;
}

h1,h2{
	color: white;
	font-weight: 500;
}


h3{
	font-weight: 500;
}

label{
	font-weight: 300;
}

h3, label{
	color: #00AD63;
}

label{
	margin-left: 10%;
}

.div-btn{
	text-align:center;
}

.registro-div{
	width: 350px;
	margin: 0 auto;
}


.error:required:invalid, .error, .error:focus{
	border: 2px solid red;
}

.btn-login {
	border-radius: 20px;
	padding: 5px 20px;
	background-color: #F9A825;
	border: none;
}

.btn-login:hover{
	background-color: #FBC02D;
}

.table-home{
	background-color: #1E2824;
	color: #00AD63;
}

